#container {

    width: 1170px;
    margin: auto;
    padding: 15px;
}

.content {

    max-width: 1140px;
    margin: auto;

    text-align: center;

    font-weight: bold;
}

.content h1 {

    margin: 50px 0;

    letter-spacing: 1.5px;

    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 4em;
    font-weight: 200;
}

.diaries-post,
.diaries-post *,
.diaries-intro,
.diaries-intro * {

    font-family: 'Hind', sans-serif;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.diaries-status {

    font-family: 'Hind', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
}

.diaries-status a {

    text-decoration: none;
    color: #3A5795;
}

.diaries-intro {

    margin: 20px 100px;

    font-size: 32px;
    line-height: 62px;
}

.diaries-intro .more {

    display: inline-block;

    margin: 20px 0;
    padding-top: 40px;

    border-top: 1px solid black;

    font-size: 22px;
    line-height: 50px;
}

.reads-intro .more ul {

    text-align: left;
}

.diaries-post {

    width: 100%;
    margin: 50px auto;
}

.diaries-post textarea {

    position: relative;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 50px;

    resize: none;

    border: 1px solid whitesmoke;
    border-radius: 5px;
    background: whitesmoke;

    font-size: 32px;
    line-height: 58px;
}

.diaries-post textarea:focus {

    border: 1px solid #E9EAED;
    border-radius: 5px;
    outline: none;
}

.diaries-post .actions {

    height: 85px;
    margin: 20px;
}

.diaries-post button {

    float: right;

    margin: 15px;
    padding: 7px 25px;

    cursor: pointer;

    border: 1px solid gray;
    border-radius: 2px;
    border-radius: 8px;
    background: white;

    font-size: 32px;
    line-height: 35px;
}

.diaries-post button.post {

    float: left;
}

.diaries-post button:hover {

    color: white;
    border-color: #3A5795;
    background-color: #3A5795;
}

.login img {

    height: 39px;
    margin: 10px;

    vertical-align: middle;

    border-radius: 4px;
}

.twitter-signin {

    height: 35px;
}
